{% extends 'faculty/index.html' %}

{% load static %}

{% block title %} Add Student {% endblock %}

{% block content %}
<style>
  body{
    background-color:aquamarine;
  }  
  .send-button{
  background: #438cc7;
  width:100%;
  font-weight: 600;
  color:#fff;
  padding: 8px 25px;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  .g-button{
  color: #fff !important;
  border: 1px solid #EA4335;
  background: #ea4335 !important;
  width:100%;
  font-weight: 600;
  color:#fff;
  padding: 8px 25px;
  }
  .my-input{
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: text;
  padding: 8px 10px;
  transition: border .1s linear;
  margin-top: 0;
  
  }
  .header-title{
  margin: 5rem 0;
  margin-bottom: 30px;
  }
  h1{
  font-size: 31px;
  line-height: 40px;
  font-weight: 600;
  color:#4c5357;
  }
  h2{
  color: #5e8396;
  font-size: 21px;
  line-height: 32px;
  font-weight: 400;
  }
  .login-or {
  position: relative;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  }
  .span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
  }
  .hr-or {
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  }
  @media screen and (max-width:480px){
  h1{
  font-size: 26px;
  }
  h2{
  font-size: 20px;
  }
  }
</style>
    
     <div class="container">
        <div class="col-md-6 mx-auto text-center">
           <div class="header-title">
              <h1 class="wv-heading--title">
                 Add New Student
              </h1>
              
           </div>
        </div>
        <div class="row">
           <div class="col-md-4 mx-auto">
              <div class="myform form ">
                 <form action='/addissbk/' method='post'>
                     {% csrf_token %}
                     <div class="form-group">
                        <input type="text" name="bid"  class="form-control my-input" id="bid" placeholder="Enter Book ID">
                      </div>
                    <div class="form-group">
                      <input type="text" name="sid"  class="form-control my-input" id="sid" placeholder="Enter Student ID">
                    </div>
                    <div class="form-group">
                     <input type="text" name="bkname"  class="form-control my-input" id="bkname" placeholder="Enter Book Name">
                   </div>
                    <div class="form-group">
                      <input type="text" name="issdt"  class="form-control my-input"  id="issdt" value=>
                   </div>
                   
                   
                    <div class="text-center ">
                       <button type="submit" class=" btn btn-block send-button tx-tfm">Add</button>
                       
                     </div>
                     <br>
                     <h5 style="color: green"> 
                        {{ msg }}
                     </h5>

                    </div>
                    
                 </form>
              </div>
           </div>
        </div>
     </div>

     <script>
$(document).ready(function(){ 
       
   // var now = new Date('dd');
   //  console.log(now);

   var d = new Date();
   var month = d.getMonth() + 1;
   var day = d.getDate();
   var year = d.getFullYear();
   // var today = (day<10?'0':'')+ day + '/' +(month<10?'0':'')+ month + '/' + year;
   var today =   year + '-' + (month<10?'0':'')+ month + '-' + (day<10?'0':'')+ day ;
   // alert(today);
   $('#issdt').val(today);
});
</script>
   
    {% endblock %}

    