<!DOCTYPE html>
<html lang="en">

  {% load static %}
  
<head>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="it">
	<meta name="keywords">

  <title>{% block title %}Title{% endblock%}</title>
  
  {% block css %}
	<!-- local bootstrap file -->
	<link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">

{% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="navbar-brand">Library Management</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login_view' %}">Login </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'signup_view' %}">Sign Up</a>
      </li>
      
    </ul>
  </div>
</nav>



<div class="container">

{% block content %}

{% endblock %}
</div>


{% block js %}
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>

{% endblock js %}
</body>
</html>