{% extends 'faculty/index.html' %}

{% load static %}

{% block title %} Show Page {% endblock %}

{% block content %}



<!-- <div class="container">
<form action='/faculty/showbk/' method='post'>
    {% csrf_token %}
<div class=form>
<input type="text" name="srh" placeholder="Enter Class">
<button type="submit" name="btn">Search</button>

</div>

</form>
<br><br> -->


{% if info %}
<h3 style="margin-top: 10px; text-align:center;"> Books Record </h3>


<div class="container mt-3">
<div style="height: 100px;">
<table class="table table-striped">
<thead>
    <tr>
        <th>Book ID</th>
        <th>Book Name</th>
        <th>Book Author</th>
        <th>Book Price</th>
        
        
    </tr>
</thead>
<tbody>
    {% for rec in info %}
<tr>
    <td>{{rec.bid }} </td>
    <td>{{rec.title }} </td>
    <td>{{rec.author }} </td>
    <td>{{rec.price }} </td>
    <td><a href="{% url 'editbk' %}?id={{rec.id}}">Edit</a> | <a href="{% url 'delbk' %}?id={{rec.id}}">Delete</a></td>
    

</tr>
{% endfor %}
</tbody>
</table>
{% else %}

<h3>You have no record</h3>


{% endif %}
</div>
</div>
</div>
{% endblock %}